.navleft {
  font-size: 20px;
  cursor: pointer;
  .cart_icon {
    position: relative;
  }
  .length_product {
    top: 10px;

    position: absolute;
  }
}
.containerall {
  background-color: #fff9ea;
}
